doctype html
html
	include general/head
	body
		include general/topbar
		include general/header
		block content
		div(class="border-bottom" style="height:20px;")
		include general/about
		div(class="border-bottom" style="height:20px;")
		include general/footer