block header
	header(class="header-static")
		div(class="container")
			div(class="row")
				div(class="col text-center text-lg-left")
					div(class="logo")
						a(class="text-center" href="/" title="Галерея Art-house")
							img(src="/img/logo_min.jpg" alt="Галерея Art-house")
							div Галерея | Москва, пр. Походный, д. 9
				div(class="col-12 col-lg-6") 
					div(class="phone float-sm-right text-center text-sm-right")
						| +7 (495) 298 22 81
						br
						| +7 (966) 010 42 51
						br
						a(href="mailto:odolamsky@yandex.ru") odolamsky@yandex.ru
					div(class="search float-sm-left")
						form(class="form-inline" action="/поиск")
							input(class="form-control mr-sm-2" name="match" type="search" placeholder="Поиск по сайту" aria-label="Search")

		div(class="border-bottom" style="height:15px;")

		div(class="container")
			nav(class="navbar navbar-expand-md navbar-light header-nav")
				div(class="navbar-collapse collapse" id="navbarSupportedContent")
					ul(class="navbar-nav mr-auto navbar-items")
						li(class="nav-item"): a(class="nav-link" href="/советская-живопись" title="Авторы") Каталог
						li(class="nav-item"): a(class="nav-link" href="/авторы" title="Авторы") Авторы
						li(class="nav-item"): a(class="nav-link" href="/продать" title="Продать картину")  Продать
						li(class="nav-item"): a(class="nav-link" href="/выставки" title="Выставки") Выставки
				
				



