block mainmiddle
	div(class="container")
			div(class="row")
				div(class="col")
					div(class="middle-title")
						h5 СОБЫТИЕ
						div(class="border-bottom" style="margin-bottom:20px; border-color:#dd7d4b !important; width:80px;")
			div(class="row")
				div(class="col")
					a(href="" class="middle-content")
						img(src="/img/event.jpg")
						div(class="event-title") 
							p Название и описяние события