extends ../layout

block content
	div(class="parallax")
		h1= title
	div(class="input-group mb-3")
		div(class="input-group-prepend")
			span(class="input-group-text" id="basic-addon1") Дата
		input(type="date" class="form-control" placeholder="Введите дату")